<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArOBd5InszIRxkIEIiq2iB1Br_Grvm4rw</string>
	<key>GCM_SENDER_ID</key>
	<string>773473165812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>myproject-f56ca</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-f56ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773473165812:ios:be072d366e959c863e59a1</string>
</dict>
</plist>